{% extends "layouts/main.html" %}

{% block pageTitle %}
  Did you or your partner earn over £50,000? - Check if you need to send a Self Assessment tax return - GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}

    <form action="/child-benefit-income-answer" method="post">

      {{ govukRadios({
        name: "child-benefit-income",
        fieldset: {
          legend: {
            text: "Did you or your partner have an individual income of more than £50,000 in the 2023 to 2024 tax year?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: "If both of you had income over £50,000, only the one with the higher income needs to complete a return. Use the higher of the two incomes to answer this question."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: data['child-benefit-income'] === 'yes'
          },
          {
            value: "no",
            text: "No",
            checked: data['child-benefit-income'] === 'no'
          }
        ]
      }) }}

      {{ govukInsetText({
        text: "If you had to pay the High Income Child Benefit charge in a previous year, you must continue to complete a Self Assessment return each year, even if your circumstances have changed."
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
